<ng-include src="'app/_inc/top_nav.html'"></ng-include>

<div class="container" ng-controller="InscriptionController">

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.content}}</alert>
</div>
<!--//////////////////////////////-->
<div class="container">
    <form method="post" ng-submit="signup(user)">
    <fieldset>
        <div id="legend">
            <legend class="">Register</legend>
        </div>
        <div class="control-group">
            <!-- Username -->
            <label class="control-label"  for="username">Username</label>
            <div class="controls">
                <div class="form-group has-feedback " ng-class="{ 'has-error' : signupForm.name.$invalid &amp;&amp; signupForm.name.$dirty }">
                    <input class="form-control input-lg ng-pristine ng-untouched ng-invalid ng-invalid-required" type="text" name="name" ng-model="user.name" placeholder="Name" required="" autofocus="" name="username">
                    <span class="ion-person form-control-feedback"></span>
                </div>
            </div>
        </div>

        <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">E-mail</label>

            <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.email.$invalid &amp;&amp; signupForm.email.$dirty }">
                <input class="form-control input-lg" type="email" id="email" name="email" ng-model="user.email" placeholder="Email" required="" ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                <span class="ion-at form-control-feedback"></span>
            </div>




        </div>

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Password</label>
            <div class="form-group has-feedback"   ng-class="{ 'has-error' : signupForm.password.$invalid &amp;&amp; signupForm.password.$dirty }">
                <input password-strength="" class="form-control input-lg" type="password" name="password" ng-model="user.password" placeholder="Password" required="" name="password"><span class="password-strength-indicator"><span></span><span></span><span></span><span></span></span>
                <span class="ion-key form-control-feedback"></span>
            </div>

        </div>

        <div class="control-group">
            <!-- Password -->
            <label class="control-label"  for="password_confirm">Password (Confirm)</label>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.password.$invalid &amp;&amp; signupForm.password.$dirty }">
                <input password-strength="" class="form-control input-lg" type="password" name="password_confirm" ng-model="user.password" placeholder="Password" required=""><span class="password-strength-indicator"><span></span><span></span><span></span><span></span></span>
                <span class="ion-key form-control-feedback"></span>
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-block btn-primary" disabled="disabled">Sign up</button>
            </div>
        </div>
    </fieldset>
</form>
    </div>